extends layout

block content
    h1= title

    hr
    h2 tamuhack.azurewebsites.net !!!
    h2
        strong First 75 developers to enter get a code for an Azure Pass.     
    h3 This provides 150 days on Azure platform at no cost, with no credit card required. 
    p The code will allow you to leverage the following resources:
    
    ul
        li 2 Cores (Cloud Services, Virtual Machines, Linux or Windows)
        li 10 Shared Web Sites
        li 10 Shared Mobile Services
        li Two 1 GB Web Edition SQL Databases
        li 70 GB of Storage
        li 50,000,000 storage transactions
        li 500,000 Service Bus Messages
        li 1,500 Service Bus Relay Hours
        li 24 GB Bandwidth Data Transfers (12 GB in, 12 GB out)

    form(action="/", method="post")
        label Email address:  
        input(name="item[email]", type="textbox")
        button.btn(type="submit") Get free Azure

    hr 
    h2 Prize for best use of Microsoft Azure
    h3 Winning team gets a <a href="http://www.microsoft.com/hardware/en-us/p/universal-mobile-keyboard">Microsoft Universal Mobile Keyboard</a> (one per team member, up to 5)
    p We also have loaner hardware, including Windows phones and Kinect sensors. Come by the booth!
    
    hr
    h2 DreamSpark
    ul
        li Get pro-level design and development tools—at no costto verified students—and make your dreams come to life
        li Download Microsoft Visual Studio Professional (not a trial version) and start coding in HTML, C++, C#, Java, Ruby and more 
        li Awesome tools and resources to build apps for Windows 8, Windows Phone and real games for Xbox LIVE/360 and Kinect 
        li No cost. No catch. Includes free membership to Xbox Live game portal, Windows Phone Dev Center and Windows Store for sample code, how-to's, tools, events and expert advice
    a(href="https://www.dreamspark.com/student/") Learn more dreamspark.com/student

    hr
    h2 BizSpark
    h3 Free cloud services with Microsoft Azure
    p $150/month in Azure credits for 3 years. Use it for:
    ul
        li Virtual Machines - Windows & Linux
        li Websites & Web Apps - .ASP.NET, PHP, Node.js, Python, & Ruby.
        li Mobile Services - Windows, iOS, Android & Web - Identity, Notifications, Storage & more
        li ...and more! - Active Directory, Media Services, Services Buses, SQL Servers, etc.
    h3 Free Microsoft Developer Tools & Services for 3 years
    p MSDN Ultimate Subscriptions (~$13,000 each)
    ul
        li Windows
        li Visual Studio Ultimate
        li Office 2013
        li Office 365 Developer Subscription
        li Team Foundation Server
        li Developer Store accounts

    a(href="http://ryanjoy.com/bizspark/bizspark.html") Learn more at ryanjoy.com/bizspark/bizspark.html



    
